#statistics {
  position: relative;
  background: url('/img/statistics.jpg') no-repeat top center/cover;
  background-attachment: fixed;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(9, 179, 239, 0.8) 0%, rgba(30, 80, 226, 0.8) 100%);
  }
  .box {
    position: relative;
  }
}